<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- 부트스트랩 CSS 링크 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{{ url_for('signup') }}" class="btn btn-primary">Signup</a>
        </form>
<!--        &lt;!&ndash; ... 잘 넘어왔는지 확인 코드 ... &ndash;&gt;-->
<!--        <p>이름 : {{ name }}!</p>-->
<!--        <p>아이디 : {{ username }}</p>-->
<!--        <p>이메일: {{ email }}</p>-->
<!--        <p>생년월잏: {{ birthdate }}</p>-->

    </div>

    <!-- 부트스트랩 JS 링크 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>