<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<script>
    let loginUserInfo =  '{{ loginUserInfo }}';

    if (loginUserInfo){
        localStorage.setItem('loginUserInfo',loginUserInfo)
    }
</script>
<body>
    <div class="container">
        <h2 class="mt-5">Project List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>작성자</th>
                    <th style="text-align:center" >삭 제</th>
                    <th style="text-align:center" >열 기</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.user }}</td>
                    <td style="text-align:center" >
                        <form method="post" action="{{ url_for('delete_project', project_id=project.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>

                    </td>
                    <td style="text-align:center" >
                            <form method="post" action="{{ url_for('open_process', project_id=project.id) }}">
                                <button type="submit" class="btn btn-primary btn-sm">Open Project</button>
                            </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right mt-4">
            <a href="{{ url_for('overview_process', newPj=true)}}" class="btn btn-primary">Create Project</a>
        </div>
    </div>
</body>
</html>
