<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<script> // 민수 edit property 자료 담는 곳


		/**  추후 더 복잡한 구조로 생성 가능하다.
		 *
		 *  화살표 정보 입력 포멧 flowDict['화살표 Cell Index'] = [화살표 시작 Cell, 화살표 끝 Cell];
		 *
		 *  오브젝트 값 insert 방법 flowDict['오브젝트 Cell Index'] = {'propIndex' : value, 'propIndex' : value};
		 *
		*/

		var flowDict = {}
		var objValueDict = {}
		var imagename  = {'imagename':'yolov5'}

		function send_data(){
			fetch('/search?keyword=yolov5', { //
				method:'GET',
				mode:'cors',
				headers:{
					'Content-TYPE':'application/json',

				},
				// body: JSON.stringify(imagename),
			})
			.then(function(response){return response.json();})
			.then(function(data){
				console.log(data);
				// if (data.req =='1'){get_pod_data();}
				// if (data.req == '0') { console.log("no data list"); }
			})
		}

		// id , mxobj 로 받을 수 있는지 확인
		function getWorkflowElement(input, start, end) {
			flowDict[input] = [start, end];
			// console.log(input, start, end)
		}

		function getObjectPropertyValue(input,id, mxObjId) {
			let htmlTag = input.outerHTML;

			let tempElement = document.createElement('div');
			tempElement.innerHTML = htmlTag;

			let attributes = tempElement.firstChild.attributes;

			let desiredAttributes = [];
			for (let i = 0; i < attributes.length; i++) {
			let attribute = attributes[i];
			if (attribute.name !== 'label') {
				desiredAttributes.push(attribute.name + '="' + attribute.value + '"');
			}
			}
			objValueDict[id +'_'+ mxObjId] = desiredAttributes
			// console.log(desiredAttributes); // 민수 edit property값 출력
			// console.log(objValueDict)
			// return desiredAttributes
		}
	</script>

	<script>
		let createDigramClicked = false ;// 민수 다이그램 성성 확인하는 플래그
		var createDiagramSape = ""; // 민수 다이어그램 변수를 넣는 곳 민수

		function convertToCamelCase(input) { // 단어를 클래스로 변경하기 위한 함수 민수
			var keyword = "DiShape";
			var keywordIndex = input.indexOf(keyword);

			if (keywordIndex !== -1) {
				var remainingText = input.slice(keywordIndex + keyword.length).trim();

			}
			var words = remainingText.split(' ');
			for (var i = 0; i < words.length; i++) {
				var word = words[i];
				if (word !== '') {
				words[i] = word.charAt(0).toUpperCase() + word.slice(1);
				}
			}

			return 'Di'+ words.join('');
			}
	</script>
	<script>
		function getLastIndexOfShape(shapeName){ //민수 마지막숫자를 가져와서 거기에서 +1 추가하는 방식
			lastIndex = 0
			var number = 0
			var ele = document.getElementsByClassName(shapeName);
			for (let index = 0; index < ele.length; index++) {

				const regex = /[^0-9]/g;
				const result = ele[index].className.baseVal.replace(regex, "");
				const number = parseInt(result);

				if (lastIndex == 0 || lastIndex < number ){
					lastIndex = number
				}

			}

			return lastIndex +1;
		};


	</script>


    <title>Grapheditor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles/grapheditor.css') }}">


	<!--BOOTSTRAP START 순우-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<!--BOOTSTRAP END-->


	<script type="text/javascript">
		// Parses URL parameters. Supported parameters are:
		// - lang=xy: Specifies the language of the user interface.
		// - touch=1: Enables a touch-style user interface.
		// - storage=local: Enables HTML5 local storage.
		// - chrome=0: Chromeless mode.
		var urlParams = (function(url)
		{
			var result = new Object();
			var idx = url.lastIndexOf('?');

			if (idx > 0)
			{
				var params = url.substring(idx + 1).split('&');

				for (var i = 0; i < params.length; i++)
				{
					idx = params[i].indexOf('=');

					if (idx > 0)
					{
						result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
					}
				}
			}

			return result;
		})(window.location.href);

		// Default resources are included in grapheditor resources
		mxLoadResources = false;
	</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Init.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/deflate/pako.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/deflate/base64.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/jscolor/jscolor.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/sanitizer/sanitizer.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/src/js/mxClient.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/EditorUi.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Editor.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Sidebar.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Graph.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Format.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Shapes.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Actions.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Menus.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Toolbar.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/mxgraph-keep_it_alive/javascript/examples/grapheditor/businessprocess/js/Dialogs.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles/process.css')}}"> <!--순우 css 추가-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap">
</head>
<body class="geEditor">
	<script type="text/javascript">
		// Extends EditorUi to update I/O action states based on availability of backend
		(function()
		{
			var editorUiInit = EditorUi.prototype.init;

			EditorUi.prototype.init = function()
			{
				editorUiInit.apply(this, arguments);
				this.actions.get('export').setEnabled(false);

				// Updates action states which require a backend
				if (!Editor.useLocalStorage)
				{
					mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function(req)
					{
						var enabled = req.getStatus() != 404;
						this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
						this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
						this.actions.get('save').setEnabled(enabled);
						this.actions.get('saveAs').setEnabled(enabled);
						this.actions.get('export').setEnabled(enabled);
					}));
				}
			};

			// Adds required resources (disables loading of fallback properties, this can only
			// be used if we know that all keys are defined in the language specific file)
			mxResources.loadDefaultBundle = false;
			var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
				mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

			// Fixes possible asynchronous requests
			mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function(xhr)
			{
				// Adds bundle text to resources
				mxResources.parse(xhr[0].getText());

				// Configures the default graph theme
				var themes = new Object();
				themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

				// Main
				new EditorUi(new Editor(urlParams['chrome'] == '0', themes));
			}, function()
			{
				document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
			});
		})();
	</script>



	<div id = "title" class="title" style="height: 50px; margin-top:1%">
		<h2>EdgeCPS</h2>
	</div>
	<nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link {% if active_overview %}active{% endif %}" href="{{ url_for('overview_process') }}">Overview</a>
        <a class="flex-sm-fill text-sm-center nav-link {% if active_requirements %}active{% endif %}" href="{{ url_for('requirements_process') }}">Requirements</a>
        <a class="flex-sm-fill text-sm-center nav-link {% if active_process %}active{% endif %}" href="{{ url_for('business_process') }}">Business Process</a>
        <a class="flex-sm-fill text-sm-center nav-link {% if active_workflow %}active{% endif %}" href="{{ url_for('workflow_process') }}">Workflow</a>
        <a class="flex-sm-fill text-sm-center nav-link {% if active_reusables %}active{% endif %}" href="{{ url_for('search_reusables_process') }}">Search Reusables</a>
        <a class="flex-sm-fill text-sm-center nav-link {% if active_implementation %}active{% endif %}" href="{{ url_for('workflow_implementation_process') }}">Workflow Implementation</a>
        <a class="flex-sm-fill text-sm-center nav-link {% if active_policy %}active{% endif %}" href="{{ url_for('policy_process') }}">Policy</a>
        <a class="flex-sm-fill text-sm-center nav-link {% if active_run %}active{% endif %}" href="{{ url_for('run_process') }}">Run</a>
	</nav>
	

	<div class="container">
		<div class="row">
		  <div class="col-12">
			<div class="buttons-container"></div>
		  </div>
		</div>
	  </div>
	
	  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	  <script>
	
		$(document).ready(function() {
		  const activityList =localStorage.getItem('actlist')
		  const activityArray = JSON.parse(activityList);
		//   const values = ["값 1", "값 2", "값 3"]; // 사용자가 가지고 있는 배열
		//   const values =activityArray;
		  // 버튼 컨테이너 요소
		  const buttonsContainer = $('.buttons-container');
	
		  // 배열 값에 따른 버튼 생성
		  activityArray.forEach(function(value) {
			const button = $('<button type="button" class="btn btn-primary btn-sm"></button>').text(value);
			buttonsContainer.append(button);
	
			// 버튼 클릭 이벤트 처리
			button.click(function() {
			  // 버튼 클릭 시 처리할 로직을 여기에 작성
			  alert('선택한 값: ' + value);
			});
		  });
		});
	
	  </script>	







	
	  
	  




</body>
</html>
